/* ============================ */
/* ========== CLASSI ========== */

.works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0 5rem;
}

.works-grid > :nth-child(odd) {
    margin-top: 5rem;
}

.works-item img {
    width: 100%;
    height: 630px;
    object-fit: cover;
    background-color: black;
}


/* ========================= */
/* ===== MOBILE LAYOUT ===== */

@media (max-width: 768px) {
    .works-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem 0;
    }
    .works-grid > :nth-child(odd) {
        margin-top: 0;
    }
    .works-item img {
        height: 300px;
    }
}